<?xml version="1.0"?>
<launch>
  <arg name="side" default="r"/> <!-- "b" = blue side, "r" = red side  -->
    <!-- make args to params -->
    <param name="side"    value="$(arg side)"/>

    <!-- You can change control program  -->

    <include file="$(find burger_navigation)/launch/burger_navigation.launch">
    </include>

    <!-- main program node -->
    <node pkg="burger_war" type="testRun2.py" name="testRun" output="screen"/>

<!--
    <include file="$(find burger_war)/launch/obstacle_detector.launch"/>
    <node pkg="burger_war" type="enemy_detector.py" name="enemy_detector_node" output="screen"/>
-->
    <!-- END main program node -->


    <!-- End of your space  -->
</launch>
